.headerDetalle{
    text-align: center;
    height: 10vh;
}
.articuloDetalle{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.parrafosDetalle{
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding-top: 10px;
}
.contadorDetalle{
    justify-content: center;
    align-items: center;
    background-color:red ;
    height: 10vh;

}
.pictureDetalle{
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 25rem;
}
.imagenRemeraDetalle{
    height: 25rem;
    width: 20rem;
    justify-content: center;
    align-items: center;
}